<div class="page">
  <div id="left-gutter">
    <h1>Comprar Cuatro</h1>
    <p>A <a href="https://en.wikipedia.org/wiki/Connect_Four">Connect Four</a> clone in Rails, hacked to some semblance of functioning by <a href="http://neil.diosa.ph/">Neil Santos</a>.</p>
    <p>(Blog will be back up as soon as I manage to attend to it.)</p>

    <p>Aside from the tools and libraries that come bundled with Rails, the following were also employed in this project:</p>
    <ul>
      <li><a href="http://susy.oddbird.net/">Susy</a></li>
      <li><a href="http://jsclass.jcoglan.com/">James Coglan’s JS.Class</a>
      <li><a href="https://github.com/jnordberg/geometry.js">Johan Nordberg’s geometry</a></li>
      <li><a href="http://www.colourlovers.com/palette/1811365/youth_of_the_nation">“Youth of the Nation” colour palette</a></li>
    </ul>
  </div>

  <div id="gameplay-area">
    <div id="board-area">
      <div id="token-space">
        <% (1..@board.columns).each do |r_idx| %>
        <div class="board-column">
          <div class="board-row">
            <%= image_tag "token-base.svg", :alt => nil, :data => { :eg_full => false } %>
          </div>
        </div>
        <% end %>
      </div>
      <div id="board-container">
        <% (1..@board.columns).each do |c_idx| %>
        <div class="board-column">
          <% (1..@board.rows).each do |r_idx| %>
          <div class="board-row">
            <%= image_tag "token-base.svg", :alt => nil, :data => { :eg_owner => "none" } %>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
    <p id="message">Please wait while game area is initialized.</p>
  </div>

  <div id="right-gutter">
    <p>Built primarily as a sort-of technical exam for consideration by the brass over at <a href="https://indinero.com/">inDinero</a>.</p>

    <p>… but mostly because I wanted to see if I could.</p>

    <p>Feel free to play with the source, as long as you play by the rules of the <a href="https://www.gnu.org/licenses/agpl.html">GNU Affero General Public License</a> (either version 3, or any later version).</p>

    <p>The source is available through the project’s <a href="https://bitbucket.org/rls/comprar-cuatro">Bitbucket</a>, or just go ahead and create a <a href="https://bitbucket.org/rls/comprar-cuatro/fork">fork through Bitbucket</a>.</p>
  </div>
</div>
