<%
imgs = {}
Dir.chdir("#{Rails.root}/app/assets/images/") do
  imgs = Dir["**"].inject({}) {|h,f| h.merge! f => image_path(f)}
end
%>

window.image_paths = <%= imgs.to_json %>
window.image_path = (name) ->
  window.image_paths[name]
