@import "compass";
@import "base";

#left-gutter, #right-gutter {
  font-family: Alef, "Trebuchet MS", Helvetica, sans-serif;
  font-size: 85%;
  h1 {
    font-size: 250%;
  }
}

#left-gutter {
  @include span-columns(2);
}

#right-gutter {
  @include span-columns(2 omega);
}

#gameplay-area {
  @include span-columns(10);
  background: #dfe2e6;
  height: 100%;
  #message{
    font-size: 150%;
    text-align: center;
    width: 100%;
  }
}

#board-area {
  @include container;
}

#board-container {
  background: #1076b9;
  border: 2px #000 solid;
}

#token-space {
  background: transparent;
  .board-column {
      &.hover {
        img{
          visibility: visible;
        }
      }
    img {
      visibility: hidden;
    }
  }
}

#token-space, #board-container {
  @include container;
  padding-bottom: 1em;
  padding-top: 1em;
  .board-column {
    @include span-columns(2);
    &:last-of-type {
      @include span-columns(2 omega);
    }
    .board-row {
      img {
        width: 100%;
      }
    }
  }
}