<!DOCTYPE html>
<html>
<head>
  <title>Comprar Cuatro</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= google_webfonts_init({ google: "Alef" }) %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
